<?xml version="1.0"?>
<launch>
  <node name="ca_driver" pkg="ca_driver" type="ca_driver" output="screen">
    <param name="~loop_hz" value="30" />
    <param name="~dev" value="/dev/ttyUSB0" />
    <param name="~create_1" value="true" />
  </node>

  <!-- TODO: Create 1 robot description -->
</launch>
