<?xml version="1.0"?>
<launch>
  <arg name="create_1" default="false"/>
  <node name="ca_driver" pkg="ca_driver" type="ca_driver" output="screen">
    <param name="~loop_hz" value="30" />
    <param name="~dev" value="/dev/ttyUSB0" />
    <param name="~create_1" value="$(arg create_1)" />
  </node>
</launch>
