<launch>

	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>

	<!-- Create 2 description -->
	<include file="$(find ca_description)/launch/create_2.launch"/>

	<!-- Launch Gazebo world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="verbose" value="true"/>
	</include>

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
 		  args="-urdf -model my_robot -param robot_description" />

</launch>
