<?xml version="1.0"?>
<launch>
  <arg name="cmd_vel" default="/cmd_vel" />
  <remap from="/cmd_vel" to="$(arg cmd_vel)"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ca_description)/urdf/create_2.urdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ca_gazebo)/worlds/ca.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <!-- Spawn a create 2 into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot" />
</launch>
