<?xml version="1.0"?>
<launch>
  <arg name="config" default="$(find create_bringup)/config/default.yaml" />
  <arg name="desc" default="true" />

  <node name="create_driver" pkg="create_driver" type="create_driver" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="robot_model" value="CREATE_1" />
  </node>

  <!-- Robot description -->
  <include if="$(arg desc)" file="$(find create_description)/launch/create_1.launch" />
</launch>
