<?xml version="1.0"?>
<launch>
  <!-- TODO(jacobperron): Add Roomba URDF and mesh to use here instead of Create 1 model -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ca_description)/urdf/create_1.urdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
</launch>
