<?xml version="1.0"?>
<launch>
  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" output="screen">
    <param name="robot_description" type="str" value="$(command '$(find-pkg-prefix xacro)/bin/xacro $(find-pkg-share create_description)/urdf/create_1.urdf.xacro')" />
  </node>
</launch>
